[submodule "platforms/nx"]
	path = platforms/nx
	url = https://github.com/BredaUniversityGames/xs-nx.git
	branch = main
[submodule "platforms/prospero"]
	path = platforms/prospero
	url = https://github.com/BredaUniversityGames/xs-prospero.git
	branch = main
