name: Build

on:
  pull_request

env:
  SOLUTION_FILE: xs.sln

permissions:
  contents: read

jobs:
  build_all:
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        Platform: ["x64", "Prospero"]
        Configuration: ["Debug", "Release"]
    runs-on: ${{ matrix.Platform == 'Prospero' && 'self-hosted' || 'windows-latest' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: Setup MSBuild path
        uses: microsoft/setup-msbuild@v2
        with:
          msbuild-architecture: x64
          
      - name: Build xs
        run: msbuild ${{env.SOLUTION_FILE}} -t:rebuild /p:Configuration=${{ matrix.Configuration }} /p:Platform=${{ matrix.Platform }}