name: Windows CI

on: [pull_request]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0 # Fetches all history for all tags and branches

    - name: Setup MSBuild path
      uses: microsoft/setup-msbuild@v2
      with:
        msbuild-architecture: x64

    - name: Build the solution
      run: msbuild xs.sln /t:rebuild /verbosity:diag /p:Configuration=Release 

    - name: Package Artifacts
      run: |
        Compress-Archive -Path executable\x64\Release\* -DestinationPath Release.zip
      shell: pwsh
      # Packages the Release build files into a zip archive

    - uses: actions/upload-artifact@v2
      with:
        name: release-artifacts
        path: Release.zip
      # Uploads the packaged artifacts for later use or download
