name: Windows CI

on: [pull_request]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0 # Fetches all history for all tags and branches

    - name: Setup MSBuild path
      uses: microsoft/setup-msbuild@v2
      with:
        msbuild-architecture: x64

    - name: Build the solution
      run: msbuild xs.sln /t:rebuild /verbosity:diag /p:Configuration=Develop 

    - name: Move games folders
      run: |
        Move-Item -Path games\shared -Destination executable\x64\Develop\shared -Force
        Move-Item -Path games\hello -Destination executable\x64\Develop\hello -Force
      shell: pwsh
      # Moves the specified folders into the target directory

    - uses: actions/upload-artifact@v3
      with:
        name: executable-with-games
        path: executable\x64\Develop\
      # Uploads the packaged artifacts for later use or download
